/* ----------
- Variables -
----------- */

@main-colour: #394B59;
@2nd-colour: #5f839e;
@3rd-colour: #b1c3d0;

/* ------
- Utils -
------ */

// Manipulate font size and line height
div,
p,
span,
li {
    font-size: 14pt;
    line-height: 1.5;
}

.flex-c {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m0 {
    margin: 0;
}

.w100 {
    width: 100%;
}

/* --------
- General -
--------- */

// Buttons

.main-btn {
    min-width: 80px;
    padding: 1rem;

    border: none;
    border-radius: 5px;

    background-color: @main-colour;
    color: white;

    cursor: pointer;
}

.multiple-btns>button {
    margin: 0 4px;
}

.main-btn:hover {
    background-color: @2nd-colour;
    color: white;
}

.main-btn:disabled {
    cursor: inherit;
    background-color: @3rd-colour;
}

// inputs

.main-input {
    padding: 0.4rem;
}

.labelled-input {
    margin-top: 8px;
}

input[type='checkbox'],
input[type='radio'] {
    cursor: pointer;
}

.my-radio {
    cursor: pointer;

    input[type="radio"] {

        margin-top: -1px;
        vertical-align: middle;

        transform: scale(1.5);
        margin-right: 0.5rem;
    }
}

// Text

.container {
    width: 100%;
    max-width: 75ch;
}

.title {
    text-align: center;
}

// Timer

.timer {
    text-align: center;
}

.time {
    font-family: Helvetica, Arial, sans-serif;
}